@charset "utf-8";
/* CSS Document */
#login {
	background-image: url('/images/login.jpg');
	background-size: cover;
}

#register {
	background-image: url('/images/register.jpg');
	background-size: cover;
}

#forgotPass {
	background-image: url('/images/email.jpg');
	background-size: cover;
}
.sign{
	padding: 6px 12px;
	font-size: 16px;
	margin: 4px 2px;
	color: white;
	text-decoration: none;
}

.sign:hover{
	background-color: #fd8b68;
	color: white;
	text-decoration: none;
}

#forget{
    color: white;
}
